/* @import 'css/buttons.css'; /* импорт стилей из другого файла */ 
/* селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */

/* div a {
} */

*{ /* звездочка - селектор всего */
    box-sizing: border-box;
}

/* html {
    font-size: 30px;
} */

h1, h2, h3 {
    text-align: center; /* tac - сокращение в Emmet */
}

h2 {
    color: red;
    font-size: 30px;
    font-style: italic;
    /* text-decoration: underline; подчеркнутось*/
    text-decoration: line-through; /* зачеркнутость */
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    font-weight: 900;
    text-transform: uppercase; /* стилизация большими буквами */
}

.chapter { /* класс */
    color: blue; /* или #4B0082 или rgb(75,0,130) или rgba(255,20,147, 0.5) с прозрачностью*/
}

#begin { /* идентификатор */
    color: orange;
    font-weight: bold; /* жирность текста можно прописать цифрами 100-900, некоторые шрифты не имеют некоторых жирностей*/
}

.box {
    /* position: absolute; */
    /* display: inline; изменение типа с блочного на строчный */
    display: inline-block;
    /* vertical-align: top; */ /* выравнивание по верхнему краю, работает только с display: inline-block; */
    vertical-align: middle;
    /* box-sizing: border-box; можно использовать здесь, но чаще используют в начале файла*/
    width: 300px;
    height: 300px;
    background-color: aqua;
    padding: 20px;
    /* padding-left: 50px;
    padding-top: 20px; pt20 для Emmet */
    /* padding: 20px 50px; сверху и снизу 20, слева и справа 50 */
    /* padding: 20px 50px 35px 60px; сверху справа снизу слева */

/*     border-width: 3px; ширина границы
    border-style: solid; сплошная непрерывная линия
    border-color: grey; цвет границы */

    border: 3px solid grey; /* комбинированное свойство */
    margin: 20px;
    z-index: 3; /* отвечает за позиционирование по оси Z (колода карт), принимает любые числовые значения, элемент с большим числом выходит на первый план */
    }

.pink {
    color: pink;
}

a { /* стилизация ссылки (строчного элемента */
    padding: 20px;
    margin: 20px;
}

img { /* стилизация картинок */
    display: block;
    margin: 0 auto; /* Emmet - m0, картинка по центру по горизонтали. 0 - вертикальный отступ, auto - горизонтальный*/ 
    width: 500px;
    /* float: left; обтекание текстом по правой стороне */ 
}

nav {

    /* position: static; обычное позиционирование, стоит по умолчанию для всех элементов, свойство используется в динамике, чтобы восстановить порядок элементов */
    /* position: relative; можно располагать элемент как нам вздумается */
    /* left: 130px; отступ слева */
    /* top: 150px; отступ сверху */
    /* bottom, top, right, left */

    /* position: absolute; позволяет располагать любой элемент в том месте, где нам хочется. работает только внутри родительского блока, у которого стоит relative*/

    /* position: fixed; фиксирует позицию на странице */

    position: inherit; /* означает, что это свойство наследуется от родителя */
    right: 0px;
    top: 50px;
}

.example {
    position: relative; /* необходимо устанавливать у родительского элемента, чтобы дочерние со свойством absolute позиционировать внутри него */
    background-color: grey;
    /* height: 700px; */
}

.example2 {
    position: relative; /* необходимо устанавливать у родительского элемента, чтобы дочерние со свойством absolute позиционировать внутри него */
    /* background-color: grey; */
    /* height: 700px; */
}

.red {
    /* position: absolute; */ /* при абсолютном позиционировании элемент выходится на первый план в любом случае */
    left: 80px;
    background-color: red;
    /* font-size: 30px; */
    /* width: 50%; */ /* 50% от родителя */
    /* width: 50em; */ /* em зависит от размера шрифта данного элемента, получилось 30*50=1500 */
    /* width: 50rem; */ /* rem зависит от размера шрифта корневого элемента, умножается на размер шрифта корневого элемента*/
    width: 50vw; /* Единица vw — 1/100 ширины видимой области окна, а vh — 1/100 его высоты. Еще есть vmin, соответствующая меньшему из vw и vh. И vmax. */
    height: 30vh;
    /* height: 50%; */
    /* height: 300px; */
    z-index: -1; /* отрицательное значение для позиционирования позади при свойстве абсолют */
}
